<%= render "shared/navbar" %>

<header class="intro-header">
  <div class="container">

    <div class="intro-message">
      <h1>Yoann Lamon</h1>
      <h3>PHOTOGRAPHE</h3>
      <hr class="intro-divider">
    </div>
  </div>
</header> 
<%= render "shared/presentation" %>
<%= render "shared/card" %>

<div class="section">
  <p>Hello world</p>
</div>
