// .btn:focus, .btn:active, button:focus, button:active {
//     outline: none !important;
//     box-shadow: none !important;
//   }
  
  #image-gallery .modal-footer{
    display: block;
  }
  
  .thumb{
    margin-top: 60px;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
  }

  .cards {
    padding: 0.25rem;
    background-color: #fff;
    border-radius: 0.25rem;
   
  }
