

.container-presentation{
    background:  #bb0c0c;
    height: 100%;
    color: #f2f2f2;
}

.presentation-title {
	text-align: left;
	padding-top: 47px;
	margin: 0px 110px;
	width: 200PX;
}

.presentation-name-user{
    position: absolute;
    width: 482px;
    height: 51px;
    margin: -7% 30%;
    text-align: center;
}

.presentation-name-user h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}

.presentation-description {
    width: 60em;
    margin: 140px auto 5% auto;
    padding: 5px;
    text-align: center;
}
  

